<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    {% include 'head.html' %}

</head>

<body>
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">
    
		{% include 'header.html' %}
		
    </div>
    <!-- topbar ends -->
<div class="ch-container">
    <div class="row">
        
        <!-- left menu starts -->
        
        {% include 'leftbar.html' %}
        <!-- left menu ends -->

        

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="/adminapp/">Home</a>
        </li>
        <li>
            <a href="#">Submember</a>
        </li>
    </ul>
</div>

<!-- start-->
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="" style="background-color: #414141; color: white;">
                <h2><i class="glyphicon glyphicon-edit"></i>  Search Submember Details</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form role="form" method="post">
                    {% csrf_token %}
                    <div class="form-group col-md-3">
                        <label for="exampleInputEmail1">Member</label>
                        <select name="m_name" class="form-control">
                            {% for typedata in memberresult %}
                            <option value="{{typedata.0}}">{{typedata.2}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default" style="margin-top: 25px;">Search</button>
                </form>

            </div>
        </div>
    </div>
    <!--/span-->

</div><!--/row-->
<div class="row">
    <div class="box col-md-12">
    <div class="box-inner">
    <div class="box-header well" data-original-title="" style="background-color: #414141; color: white;">
        <h2><i class="glyphicon glyphicon-user"></i> View Submember Details</h2>

        <div class="box-icon">
            <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                    class="glyphicon glyphicon-chevron-up"></i></a>
            <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </div>
    <div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
        <th>ID</th>
        <th>Vendor</th>
        <th>Member</th>
        <th>Name</th>
        <th>Contact</th>
        <th>Aadharcard</th>
        <th>Type</th>
        <th>Relation</th>
        <th>Status</th>
        <th>Create Date</th>
        <th>Update</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for row in record %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td class="center">{{row.23}}</td>
        <td class="center">{{row.12}}</td>
        <td class="center">{{row.2}}</td>
        <td class="center">{{row.3}}</td>
        <td class="center"><a href="/media/{{row.4}}" target="_blank"><img src ="/media/{{row.4}}" style="height:50px; width:50px"/></a></td>
        <td class="center">
            {% if row.5 == 'Sub' %}
            <span class="label-success label label-default">{{row.5}}</span>
            {% else %}
            <span class="label-danger label label-default">{{row.5}}</span>
            {% endif %}
        </td>
        <td class="center">{{row.6}}</td>
        <td class="center">
            {% if row.7 == 'Active' %}
            <a href="/adminapp/Submember?subm_id={{row.0}}&subm_status={{row.7}}" style="text-decoration:none;"><span class="label-success label label-default" >{{row.7}}</span></a>
            {% else %}
            <a href="/adminapp/Submember?subm_id={{row.0}}&subm_status={{row.7}}" style="text-decoration:none;"><span class="label-danger label label-default">{{row.7}}</span></a>
            {% endif %}
        </td>
        <td>{{row.8 |date:'Y-m-d H:i:s'}}</td>
        <td>{{row.9 |date:'Y-m-d H:i:s'}}</td>
        <td class="center">
            {% if row.5 == 'Sub' %}
                <a class="btn btn-success" href="/adminapp/Submember_edit?sub_edt={{row.0}}">
                    <i class="glyphicon glyphicon-trash icon-white"></i>
                    Edit
                </a>
                <a class="btn btn-danger" href="/adminapp/Submember?s_del={{row.0}}" onclick="return confirm('Are you sure ?');">
                    <i class="glyphicon glyphicon-trash icon-white"></i>
                    Delete
                </a>
            {% else %}
                ---
            {% endif %}
        </td>
        
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </div>
    <!--/span-->

    </div><!--/row-->

    
<!--End -->
    <!-- content ends -->
    </div><!--/#content.col-md-0-->
</div><!--/fluid-row-->
    <hr>
    <footer class="row">
		{% include 'footer.html' %}
    </footer>

</div><!--/.fluid-container-->

<!-- external javascript -->

{% include 'script.html' %}
</body>
</html>